h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
.button{
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 0.6em;
    color: #f5fafc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 30px;
    padding: 1.0em 2.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

    box-shadow: 0 0 40px 40px #dde8e9 inset;
}

.button:hover, .button:focus {
    color: #000000;
    outline: 0;
}
*/

.titulo-jogador{
    margin-top: 50px;
    margin-left: 190px;
    margin-bottom: -102px;
    font-size: 30px;
}

.titulo-com{
    margin-left: 900px;
    margin-top: -102px;
    font-size: 30px;
}

.titulo-vs{
    margin-left: 630px;
}

.titulo-vs h1{
    font-size: 50px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

.img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}

img{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("") no-repeat;
    background-size: cover;
    transition: 1s opacity;
    filter: brightness(30%)
}

.titulo-jogador-vs-com{
    margin-bottom: -100px;
    margin-top: -50px;
}
